@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td:empty, th:empty {
  opacity: 0;
}

input, input:required {
  box-shadow: none;
}

input:-webkit-autofill, input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
  box-shadow: 0 0 0 30px #fff inset;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

picture {
  display: inline-block;
}

figure {
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  border: 0;
  background: 0 0;
}

button::-moz-focus-inner {
  border: 0;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  border: 0;
  background: 0 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  background: #000;
  border: 0;
  height: 1px;
  line-height: 0;
  margin: 0;
  padding: 0;
  page-break-after: always;
  width: 100%;
}

pre {
  font-family: monospace, monospace;
  font-size: 100%;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 100%;
}

small {
  font-size: 75%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -5px;
}

sup {
  top: -5px;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
  outline: 0;
}

legend {
  color: inherit;
  white-space: normal;
  display: block;
  border: 0;
  max-width: 100%;
  width: 100%;
}

fieldset {
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: block;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

template {
  display: none;
}

* {
  position: relative;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.container {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  padding: 4vh 0 9vh 0;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

::-webkit-scrollbar {
  width: 5px;
}

/*==========進場動畫==========*/
@keyframes topBGIn {
  0% {
    top: -975px;
  }
  100% {
    top: -18px;
  }
}
@keyframes titleLightL {
  0% {
    top: -208px;
    left: -738px;
  }
  10% {
    top: 31px;
    left: -300px;
  }
  50%, 60% {
    top: 100px;
    left: 325px;
    width: 150px;
    height: 150px;
  }
  100% {
    top: 300px;
    left: -738px;
    opacity: 0.5;
  }
}
@keyframes titleLightR {
  0% {
    top: -208px;
    right: -738px;
  }
  10% {
    top: 31px;
    right: -300px;
  }
  50%, 60% {
    top: 100px;
    right: 325px;
    width: 150px;
    height: 150px;
  }
  100% {
    top: 300px;
    right: -738px;
    width: 80px;
    height: 80px;
    opacity: 0.5;
  }
}
@keyframes itemfadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes floatBtn {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: url("/img/stop_info/mainBG.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
  overflow-y: scroll;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-button {
  background: transparent;
}
body::-webkit-scrollbar-track-piece {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(70, 70, 70);
  border: 1px solid rgb(255, 255, 255);
}
body::-webkit-scrollbar-track {
  box-shadow: none;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
header .bar {
  width: 100%;
  height: 80px;
  display: flex;
}
header .bar .digeamwlogo {
  position: absolute;
  left: 92px;
  width: 200px;
  height: 80px;
  background: url("/img/stop_info/header/LOGO_white.png") no-repeat;
  background-size: contain;
  background-position: center;
  transition: 0.3s;
  opacity: 0;
  animation: itemfadeIn 1s 0.5s 1 ease-out;
  animation-fill-mode: forwards;
}
header .bar .digeamwlogo:hover {
  filter: drop-shadow(0px 0px 5px rgba(255, 207, 96, 0.5)) drop-shadow(0px 0px 10px rgba(255, 207, 96, 0.5));
}
header .bar .estlogo {
  position: absolute;
  left: 336px;
  width: 200px;
  height: 80px;
  background: url("/img/stop_info/header/ESTgames_logo.png") no-repeat;
  background-size: contain;
  background-position: center;
  transition: 0.3s;
  opacity: 0;
  animation: itemfadeIn 1s 0.5s 1 ease-out;
  animation-fill-mode: forwards;
}

.main {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}
.main .toppage {
  width: 100%;
  height: 100vh;
}
.main .toppage .topBG {
  position: absolute;
  max-width: 1920px;
  max-height: 863px;
  width: 100%;
  height: 100vh;
  background: url("/img/stop_info/topBG1.png") no-repeat;
  background-position: top;
  background-size: cover;
  animation: topBGIn 0.4s 1 ease-out;
  animation-fill-mode: forwards;
}
.main .toppage .topBG::before {
  position: absolute;
  content: "";
  max-width: 1920px;
  max-height: 950px;
  width: 100%;
  height: 100vh;
  background: url("/img/stop_info/topBG2.png") no-repeat;
  background-position: top;
  background-size: cover;
  z-index: -1;
  animation: topBGIn 0.4s 0.05s 1 ease-out;
  animation-fill-mode: forwards;
}
.main .toppage .title {
  position: absolute;
  left: 50%;
  top: 40%;
  translate: -50%;
  max-width: 946px;
  max-height: 324px;
  width: 100%;
  height: 100%;
  background: url("/img/stop_info/title.png") no-repeat;
  background-position: center;
  opacity: 0;
  animation: itemfadeIn 1s 0.5s 1 ease-out;
  animation-fill-mode: forwards;
}
.main .toppage .startbtn {
  position: absolute;
  left: 50%;
  top: 72%;
  translate: -50%;
  width: 398px;
  height: 78px;
  background: url("/img/stop_info/startbtn.png") no-repeat;
  filter: drop-shadow(0px 0px 2px rgb(255, 255, 255)) drop-shadow(0px 0px 6px rgb(255, 255, 255));
  opacity: 0;
  animation: floatBtn 1.3s infinite ease-in-out alternate, itemfadeIn 1s 0.75s 1 ease-out;
  animation-fill-mode: forwards;
  transition: 0.3s;
}
.main .toppage .startbtn:hover {
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5)) drop-shadow(0px 0px 20px rgb(255, 255, 255));
}
.main .toppage .text {
  position: absolute;
  left: 50%;
  bottom: 1.5%;
  translate: -50%;
  color: #fff;
  font-size: 18px;
}

@media (max-width: 1024px) {
  /*========header bar========*/
  header .bar .digeamwlogo {
    left: 3vw;
    width: 150px;
    height: 60px;
  }
  header .bar .estlogo {
    left: 25vw;
    width: 150px;
    height: 60px;
  }
  .main .toppage .title {
    top: 20%;
    scale: 0.9;
  }
  .main .toppage .startbtn {
    scale: 0.8;
  }
  .main .toppage .startbtn::after {
    top: 105%;
  }
}
@media (max-width: 820px) {
  /*========header bar========*/
  header .bar .digeamwlogo {
    left: 18vw;
    width: 150px;
    height: 60px;
  }
  header .bar .estlogo {
    left: 48vw;
    width: 150px;
    height: 60px;
  }
  .main .toppage .title {
    max-height: 342px;
    top: 30vh;
    scale: 1;
    width: 100vw;
    height: 76vw;
    background: url("/img/title_m.png") no-repeat;
    background-position: center;
  }
  .main .toppage .startbtn {
    top: 66vh;
    width: 100vw;
    height: 15vw;
    scale: 0.7;
    background-size: contain;
    background-position: top;
  }
}
@media (max-width: 425px) {
  header .bar .digeamwlogo {
    left: 32vw;
    width: 150px;
    height: 60px;
  }
  header .bar .estlogo {
    top: 13vw;
    left: 33vw;
    width: 150px;
    height: 60px;
  }
  .main {
    /*========toppage========*/
  }
  .main .toppage .title {
    top: 35vh;
    background-size: contain;
  }
  .main .toppage .startbtn {
    top: 75vh;
    width: 100vw;
    height: 20vw;
    background-size: contain;
    background-position: top;
  }
  .main .toppage .startbtn::after {
    top: 100%;
    left: 50%;
    translate: -50%;
    width: 10vh;
    background-size: contain;
  }
}
.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 3;
}

.pop {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  text-align: center;
}
.pop .box {
  max-width: 500px;
  width: 100%;
  max-height: 350px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  animation: popup 0.3s ease-in-out;
}
.pop .box .popText {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
}
.pop .box .btnClose {
  max-width: 80px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.pop .box .btnClose:hover {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}/*# sourceMappingURL=style.css.map */