table {
    color: #fff;
    border: #fff 1px solid;
    border-collapse: collapse;
    width: 820px;
    text-align: left;
    font-size: 1.1rem;
    margin-top: 25px;
    margin-bottom: 25px;
}

.table1 td {
    border: #fff 1px solid;
}

tr {
    border: #fff 1px solid;
}

td{
    padding: 10px 15px;
}

.tab_head {
    background-color: #0081d1;
    text-align: center;
}

.tab_head_s {
    background-color: #83d0ff;
    text-align: center;
}

.tab_head_s td,
.tab_head td {
    color: black;
    font-weight: bold;
}
.text_box{
    width: 820px;
}

p{
    color: #fff;
    line-height: 1.8rem;
}
span{
    color: #0081d1;
}