table {
    color: #fff;
    border: #fff 1px solid;
    border-collapse: collapse;
    width: 820px;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 15px;
}

td {
    border: #fff 1px solid;
    height: 43px;
    padding: 0px 20px;
}

tr {
    border: #fff 1px solid;
}

.tab_head_s {
    background-color: #83d0ff;
}

.tab_head_s td {
    color: black;
    font-weight: bold;
}
.text_box{
    width: 820px;
}
.content_box{
    width: 820px;
    height: 500px;

}
.name{
    color: #83d0ff;
}
/*頁碼*/
.pagination {
    text-align: center;
    list-style: none;
    margin-top: 40px;
    margin-right: 45px;
}

.pagination li {
    display: inline;
}

.pagination li .page-link {
    color: #ffffff;
    font-size: 18px;
    margin: 0px 6px;
}

.page-item {
    font-size: 18px;
    text-decoration: none;
}

.page-item.disabled,.page-item.active {
    color: #83d0ff;
}