@font-face {
    font-family: "BASKVILL";
    src: url("/img/war/BASKVILL.woff") format("woff");
}

.title_box {
    margin-right: 6px;
    width: 1350px;
    height: 85px;
    background-color: black;
    position: relative;
    top: 55%;
    margin-top: 505px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ffffff;
}

.war_bg {
    background-image: url(/img/war/WarBack03.png);
    width: 1920px;
    height: 2229px;
    /* position: relative;
top: 55%; */
    box-sizing: border-box;
    padding: 0px 5px 40px 5px;
    /* margin-top: 505px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main_box {
    display: none;
}

.war_main_title {
    width: 238px;
    height: 85px;
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    height: 40px;
    width: 252px;
    border: 1px solid white;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
}

.content_box {
    margin-right: 6px;
    width: 1350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*     border: 1px #fff solid; */
}

.result_title {
    background-image: url(/img/war/ConsequenceTitle.png);
    width: 452px;
    height: 130px;
    margin-bottom: -25px;
    margin-top: 10px;
}

.leader_title {
    background-image: url(/img/war/DirectorTitle.png);
    width: 524px;
    height: 117px;
    margin-top: -25px;
}

.camp_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bluecamp,
.redcamp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bluecamp_icon {
    background-image: url(/img/war/blueIcone.png);
    width: 386px;
    height: 332px;
    margin: -45px 0px;
    position: relative;
    top: 0px;
    animation: move_blue 3s infinite;
}

.redcamp_icon {
    background-image: url(/img/war/redIcone.png);
    width: 386px;
    height: 332px;
    margin: -45px 0px;
    position: relative;
    top: 0px;
    animation: move_red 3s infinite;
}

@keyframes move_blue {
    0% {
        top: 0;
    }
    50% {
        top: -20px;
        -webkit-filter: drop-shadow(0px 0px 15px rgba(62, 200, 255, 0.7));
    }
    100% {
        top: 0px;
    }
}

@keyframes move_red {
    0% {
        top: 0;
    }
    50% {
        top: -20px;
        -webkit-filter: drop-shadow(0px 0px 15px rgba(255, 62, 136, 0.7));
    }
    100% {
        top: 0px;
    }
}

.bluecamp_title {
    background-image: url(/img/war/blueTitle.png);
    width: 208px;
    height: 129px;
}

.redcamp_title {
    background-image: url(/img/war/redTitle.png);
    width: 187px;
    height: 129px;
}

.score_box {
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 27px;
}

.score_box p {
    color: #919191;
}

.score_box_s {
    width: 330px;
    height: 136px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.score_text {
    width: 136px;
    height: 105;
    margin-top: -94px;
}

.score_text span {
    background-position: left -50px;
    font-size: 8rem;
    font-family: "BASKVILL", serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: transparent;
    display: block;
    position: absolute;
    padding: 38px 0;
}

.score_text span:nth-child(2) {
    background: linear-gradient(#020202, #595959, #ffffff, #393939, #0d0d0d);
    -webkit-background-clip: text;
}

.score_text span:nth-child(1) {
    text-shadow: 1px 1px 2px #979797, 2px 2px 0px #1b1b1b, 3px 3px 4px #1b1b1b,
        4px 4px 6px #1b1b1b, 5px 5px 6px #1b1b1b, 6px 10px 10px rgb(0, 0, 0),
        -1px -2px 1px #ffffff, -1px -2px 1px #ffffff,
        0 0 0.1em rgb(255, 255, 255, 0.5), 0 0 0.4em rgb(255, 255, 255, 0.7),
        0 0 0.3em rgb(255, 255, 255, 0.5);
}

.dot {
    background-image: url(/img/war/WartextDeco.png);
    width: 13px;
    height: 66px;
}

.score_line {
    background-image: url(/img/war/Flare.png);
    width: 444px;
    height: 37px;
}

.leader_table {
    width: 1137px;
    color: #fff;
    /*      border: 1px solid #777777; */
    border-collapse: collapse;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 35px;
    margin-bottom: 60px;
    table-layout: fixed;
    word-wrap: break-word;
}

/* .leader_table td,.leader_table tr {
    border: 1px solid #777777;
} */

.leader_table_line {
    background-image: url(/img/war/WarLeaderBling.png);
    width: 1136px;
    height: 19px;
}

td {
    padding: 5px;
}

th {
    font-size: 1.5rem;
}

.red_th {
    color: #ff88a8;
}

.blue_th {
    color: #6192ff;
}

.under_line {
    border-bottom: 1px solid #fff;
}

.leader_jobIcon_00 {
    background-image: url(/img/war/WarIcon00.png);
    width: 116px;
    height: 100px;
    display: inline-block;
    margin: -20px -9px -20px 0px;
}
.leader_jobIcon_01 {
    background-image: url(/img/war/WarIcon01.png);
    width: 116px;
    height: 100px;
    display: inline-block;
    margin: -20px -9px -20px 0px;
}

.leader_jobIcon_02 {
    background-image: url(/img/war/WarIcon02.png);
    width: 116px;
    height: 100px;
    display: inline-block;
    margin: -20px -9px -20px 0px;
}

.leader_jobIcon_03 {
    background-image: url(/img/war/WarIcon03.png);
    width: 116px;
    height: 100px;
    display: inline-block;
    margin: -20px -9px -20px 0px;
}

.leader_jobIcon_04 {
    background-image: url(/img/war/WarIcon04.png);
    width: 116px;
    height: 100px;
    display: inline-block;
    margin: -20px -9px -20px 0px;
}

.leader_jobIcon_05 {
    background-image: url(/img/war/WarIcon05.png);
    width: 116px;
    height: 100px;
    display: inline-block;
    margin: -20px -9px -20px 0px;
}

.leader_jobIcon_06 {
    background-image: url(/img/war/WarIcon06.png);
    width: 116px;
    height: 100px;
    display: inline-block;
    margin: -20px -9px -20px 0px;
}

.leader_jobIcon_07 {
    background-image: url(/img/war/WarIcon07.png);
    width: 116px;
    height: 100px;
    display: inline-block;
    margin: -20px -9px -20px 0px;
}

.leader_jobIcon_08 {
    background-image: url(/img/war/WarIcon08.png);
    width: 116px;
    height: 100px;
    display: inline-block;
    margin: -20px -9px -20px 0px;
}

.leader_jobIcon_09 {
    background-image: url(/img/war/WarIcon09.png);
    width: 116px;
    height: 100px;
    display: inline-block;
    margin: -20px -9px -20px 0px;
}

.protector_title {
    background-image: url(/img/war/ProtectorTitle.png);
    width: 525px;
    height: 111px;
}

.protector_table {
    width: 1252px;
    color: #fff;
    /*     border: 1px solid #777777; */
    border-collapse: collapse;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 35px;
    margin-bottom: 60px;
    table-layout: fixed;
    word-wrap: break-word;
}
/* .protector_table tr,.protector_table td{
    border: 1px solid #777777;
} */
.protector_table_line {
    background-image: url(/img/war/WarProtecterBling.png);
    width: 1252px;
    height: 20px;
}
