@media(max-width:1024px){
    /*========header bar========*/

    header{

        .bar{
            .barBG{
                width: 100vw;
                height: 60px;
            }

            .digeamwlogo{
                left: 3vw;
                width: 150px;
                height: 60px;
            }

            .links{
                line-height: 60px;
                & a{
                    font-size: 1.1rem;
                }
            }

            .sociallink{
                width: 20vw;

                & a{
                    margin: auto 3%;
                }

                .fblink{
                    height: 60px;
                }

                .bhlink{
                    height: 60px;
                }
            }
        }
    }

    /*========主要內容========*/

    .main{
    
        /*========toppage========*/

        .toppage{
    
            .title{
                top: 20%;
                scale: 0.9;
            }
    
            .startbtn{
                scale: 0.8;
    
                &::after{
                    top: 105%;
                }    
            }
        }

        /*========p2========*/

        .page2{

            .mainpic{
                left: -100px;
                width: 53vw;

                &::before{
                    left: 100px;
                    width: 35vw;
                }
                &::after{
                    left: 30%;
                    width: 30vw;
                }
            }

            .step1{
                top: 10vh;
                right: 36vw;
                scale: 0.65;
                margin: -81.725px;
            }

            .step2{
                top: 10vh;
                right: 2vw;
                scale: 0.65;
                margin: -81.725px;
            }

            .step3{
                top: 85vh;
                right: 2vw;
                scale: 0.65;
                margin: -176.225px;
            }

            .doublecheck{

                .doublecheckframe{
                    scale: 0.9;
                }
            }

            .notice{

                .noticeframe{
                    scale: 0.65;
                }
            }
        }
    }
}